.attendance__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.attendance__container__input {
  min-width: 80%;
  max-width: 80%;

  display: flex;
  flex-direction: column;
}
.attendance__container__input__button {
  text-transform: none !important;
  width: 100%;
}
/* .attendance__container__input__date {
  width: 100% !important;
} */
.show__attendance {
  width: 80%;
  margin-top: 16px;
  margin-bottom: 16px;
}
.show__attendance__dates {
  margin-top: 16px;
  margin-bottom: 50px;
  border: 1px solid gray;
  border-radius: 10px;
  min-height: 200px;
  max-height: 500px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.show__attendance__dates::-webkit-scrollbar {
  display: -webkit-box;
}
.show__attendance__dates::-webkit-scrollbar {
  width: 12px;
}

.show__attendance__dates::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.show__attendance__dates::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.dates {
  width: 80%;
  min-height: 30px;
  background-color: rgb(228, 228, 228);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 16px;
  border-radius: 20px;
}
